body {
 margin:0;
 background: #666;
 font-size: 12px;
}
#wrap-top {
  width:100%;
  height:155px;
  margin:0;
  background: url('/assets/images/background_top.jpg') repeat-x;
  background-position: bottom;
}
#wrap-content {
  width:96%;
  margin:0 auto;
  background: #000;
}
#hide {
  position: absolute;
  top: 125px;
  left:860px;
  cursor:pointer;
}
#dtheme {
  position: relative;
  top: 5px;
  left:650px;
  width:310px;
  cursor:pointer;
}
#banner {
  margin:0;
  background: url("/assets/images/top_banner.jpg") no-repeat;
  width:985px;
  height:155px;
}
input {
  background:transparent url('/assets/images/bginputform.jpg') repeat scroll 0 0;
  border:1px solid #626469;
  margin-bottom:5px;
  padding:2px;
}
button { cursor:pointer; }

hr.cleaner {
	clear:both;
	height:1px;
	margin: -1px 0 0 0; padding:0;
	border:none;
	/*visibility: hidden;*/
}



/*--------------------------------------------------------------*/
